.Container {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
}

.Container.active {
    display: block;
    background-color: #323641;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    animation: showCard 0.5s forwards;
}

.contentContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 2vh 1vw;
    grid-gap: 2vw;
    overflow: scroll;
}

.Navbar{
    height: auto;
}

.NavContainer {
    grid-gap: 3vw;
}

.closeBtn {
    align-self: center;
}

.CardTitle {
    font-weight: 600;
}

@media screen and (max-width: 900px) {
    .Navbar{
        grid-column-start: 1;
        grid-column-end: 1;
    }
    .contentContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 1vh 2vw;
        grid-gap: 3vw;
    }
}
@keyframes showCard {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}