@import "./src/defaultStyles/modalContainer.scss";
@import "./src/defaultStyles/closeBtn.scss";
@import "./src/defaultStyles/NavContainer.scss";
@import "./src/defaultStyles/fontsizes.scss";

.Container {
    @include container;
    display: none;
    position: fixed;
}

.Container.active {
    display: initial;
}

.contentContainer {
    @include contentContainer(1fr 1fr 1fr 1fr);
}

.CardTitle {
    font-weight: 600;
}
.empty {
    text-align: center;
    margin-top: 10vw;
    font-size: $PcHeading;
}

@media screen and (max-width: 900px) {
    .empty {
        font-size: $MobileHeading;
    }
    .contentContainer {
        @include mobileContentContainer(1fr 1fr);
    }
}