.Container {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
}


.Container.active {
    display: block;
    background-color: #323641;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
}

.NavContainer {
    grid-gap: 3vw;
}

.selector {
    border-radius: 0.3vw;
    text-align: start;
}

.header {
    padding: 1vw;
    background-color: #212529;
    color: white;
    grid-column-start: 1;
    grid-column-end: 4;
    border: 2px solid black;
    font-weight: 600;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    align-items: center;
}

.closeBtn {
    justify-self: center;
    align-self: center;
}
.title {
    align-self: center;
    font-size: 1.2vw;
}

.contentContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 2vh 2vw;
    grid-gap: 3vw;
    overflow: scroll;
}

@media screen and (max-width: 900px) {
    .header {
        padding: 3vw;
        border: 2px solid black;
        grid-gap: 4vw;
    }
    .contentContainer {
        display: grid;
        grid-template-columns: 1fr;
        margin: 2vh 2vw;
        grid-gap: 3vw;
    }
    .selector {
        padding: 2vw;
        border-radius: 0.3vw;
        text-align: start;
    }
}