$PclotOfTxt: 1.1vw;
$MobilelotOfTxt: 3.5vw;

$PcMediumText: 1.5vw;
$MobileMediumText: 4vw;

$PcCardHeading: 1.4vw;
$PcCardText: 1vw;

$MobileCardHeading: 4vw;
$MobileCardText: 3.5vw;

$PcHeading: 2.5vw;
$MobileHeading: 5vw;
