.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5vw;
    grid-row-gap: 2vw;
    margin: 4vh 2vw;
}

.img {
    max-height: 25vw;
}

.load {
    color: rgb(168, 168, 168);
    cursor: pointer;
    grid-column: 2;
    justify-self: center;
    &:hover {
        color: #fff;
    }
}

@media screen and (max-width: 900px) {
    .container {
        grid-template-columns: 1fr;
        margin: 2vh 3vw;
        grid-gap: 3vw;
    }
    .img {
        max-height: 100vw;
    }
    .text { 
        font-size: 3.6vw;
    }
    .load {
        grid-column: 1;
    }
}