@import "./src/defaultStyles/modalContainer.scss";
@import "./src/defaultStyles/fontsizes.scss";

.container {
    @include contentContainer(1fr 1fr 1fr);
    grid-column-gap: 5vw;
    grid-row-gap: 2vw;
    margin: 4vh 2vw;
}

.img {
    height: 25vw;
}

.load {
    color: rgb(168, 168, 168);
    cursor: pointer;
    grid-column: 2;
    justify-self: center;
    &:hover {
        color: #fff;
    }
}

@media screen and (max-width: 900px) {
    .container {
        @include mobileContentContainer(1fr);
    }
    .img {
        height: auto;
        max-height: auto;
    }
    .text { 
        font-size: $MobilelotOfTxt;
    }
    .load {
        grid-column: 1;
    }
}
