.dirik {
    width: 75%;
    height: 70%;
    grid-column-start: 2;
    align-self: center; 
    grid-row-start: 1;
    border-radius: 15%;
}

.dirikQuestion {
    color: #ffffff;
    font-size: 1vw;
    grid-column-start: 2;
    align-self: end; 
    grid-row-start: 1;
}
.dirikName {
    color: #ffffff;
    font-size: 1vw;
    grid-column-start: 2;
    align-self: start; 
    grid-row-start: 1;
}

.WithCarouselContainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 2vh 4vw;
    align-items: center;
    justify-items: center;
    grid-gap: 5vw;
}

.buttonsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10vw; 
    margin-right: 10vw;
    margin-left: 10vw;
    margin-top: 2vw;
}

@media screen and (max-width: 900px) {
    .buttonsContainer {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 3vh; 
        margin-right: 20vw;
        margin-left: 20vw;
        margin-top: 3vh;
    }
    .dirikQuestion {
        color: #ffffff;
        font-size: 4vw;
        grid-column: 2;
        justify-self: center; 
        align-self: center;
        grid-row: 3;
        text-align: center;
    }
    .dirikName {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 2;
        font-size: 5vw;
        align-self: center; 
    }
    .dirik {
        grid-row: 3;
        grid-column: 1;
        width: 80%;
        height: 90%;
        align-self: center;
        justify-self: center;
    }

    .Carousel {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
    .WithCarouselContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 4fr 0.5fr 3fr;
        margin: 2vh 4vw;
        align-items: center;
        justify-items: center;
        grid-gap: 3vw;
    }
}