@import "./src/defaultStyles/fontsizes.scss";
.cardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 3vh 0;
}

.CardCon {
    width: 25vw;
    justify-self: center;
}

.cardIMG {
    max-height: 40vh;
}

.Kits {
    text-align: center;
    font-size: $PcHeading;
    font-weight: 700;
    margin-top: 6vh;
    margin-bottom: 1vh;
}


@media screen and (max-width: 900px) {
    .cardContainer {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 1vh;
    }
    .CardCon {
        width: 80vw;
    }
    .Kits {
        font-size: $MobileHeading;
        margin-top: 5vh;
        margin-bottom: 0.5vh;
    }
    .cardIMG {
        max-height: 30vh;
    }
}