.OpisanieContainer {
    margin: 5vh 2vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.firstPageOpisanie {
    color: white;
    font-size: 1.1vw;
    grid-column-start: 2;
    grid-row-start: 1;
    align-self: end;

}

.secondPageOpisanie {
    color: white;
    font-size: 1.1vw;
    grid-column-start: 2;
    grid-row-start: 1;
    align-self: start;
}
.opisaniePng {
    width: 80%;
    height: auto;
    margin: auto
}

@media screen and (max-width: 900px) {
    .OpisanieContainer {
        margin: 3vh 3vw;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .secondPageOpisanie {
        grid-row: 1;
        grid-column: 1;
        width: 95%;
        text-align: center;
        font-size: 3.5vw;
        margin: 1vh auto;
    }
    .firstPageOpisanie {
        grid-row: 2;
        grid-column: 1;
        width: 95%;
        text-align: center;
        font-size: 3.5vw;
        margin: 1vh auto;
    }
    .opisaniePng {
        grid-row: 3;
        grid-column: 1;
        width: 90%;
    }
    
}