@import "./src/defaultStyles/fontsizes.scss";
@mixin text {
    font-size: $PclotOfTxt;
    grid-column: 2;
}

@mixin mobtext {
    grid-column: 1;
    text-align: center;
    font-size: $MobilelotOfTxt;
    margin: 1vh auto;
}

.OpisanieContainer {
    margin: 5vh 2vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.firstPageOpisanie {
    @include text;
    grid-row: 1;
}

.secondPageOpisanie {
    @include text;
    grid-row: 2;
}

.opisaniePng {
    width: 80%;
    margin: auto;
    grid-row-start: 1;
    grid-row-end: 3;
}

@media screen and (max-width: 900px) {
    .OpisanieContainer {
        margin: 3vh 3vw;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .firstPageOpisanie {
        grid-row: 1;
        @include mobtext;
    }
    .secondPageOpisanie {
        grid-row: 2;
        @include mobtext;
    }
    .Carousel {
        margin: 1vh 3vw;
    }
}