@import "./src/defaultStyles/fontsizes.scss";

.legendContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10vh 5vw;
    gap: 5vw;
    align-items: center;
    justify-items: center;
}
.legendImg {
    width: 30vw;
    height: 20vw;
    border-radius: 2%;
}

.legend {
    font-size: $PcMediumText;
    text-align: center;
}

@media screen and (max-width: 900px) {
    .legend {
        font-size: $MobilelotOfTxt;
        width: 90vw;
    }
    .legendImg {
        width: 90vw;
        height: auto;
        grid-row: 2;
    }
    .legendContainer {
        margin: 1vh 3vw;
        grid-template-columns: 1fr;
    }
}