*{
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

body {
    background-color: #323641;
}

.CarouselContainer {
    display: flex;
    justify-content: space-between;
}

.dirik {
    width: 70%;
    height: 70%;
    grid-column-start: 2;
    align-self: center; 
    grid-row-start: 1;
}
.slider {
    width: 60%;
}

.header {
    background-color: #212529;
    color: white;
    display: flex;
}

.cardIMG {
    width: auto;
    height: 300px;
}

.dirikQuestion {
    color: #ffffff;
    font-size: 1vw;
    grid-column-start: 2;
    align-self: end; 
    grid-row-start: 1;
}
.dirikName {
    color: #ffffff;
    font-size: 1vw;
    grid-column-start: 2;
    align-self: start; 
    grid-row-start: 1;
}

.WithCarouselContainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 2vh 4vw;
    align-items: center;
    justify-items: center;
    grid-gap: 5vw;
}

.OpisanieContainer {
    margin: 5vh 2vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.firstPageOpisanie {
    color: white;
    font-size: 1.1vw;
    grid-column-start: 2;
    grid-row-start: 1;
    align-self: end;

}

.secondPageOpisanie {
    color: white;
    font-size: 1.1vw;
    grid-column-start: 2;
    grid-row-start: 1;
    align-self: start;
}

.CardCon {
    width: 20vw;
}

.cardContainer {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 4vw;
    margin: 2vh 2vw;
}
.CardTitle {
    font-size: 1.5vw
}
.CardText {
    font-size: 1vw
}
.opisaniePng {
    width: 80%;
    height: auto;
    margin: auto
}
.buttonsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10vw; 
    margin-right: 10vw;
    margin-left: 10vw;
    margin-top: 2vw;
}

@media screen and (max-width: 900px) {
    .cardContainer {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .CardCon {
        width: 45vw;
        height: auto;
    }
    .cardIMG {
        width: auto;
        height: 20vh;
    }
    .CardTitle {
        font-size: 4vw
    }
    .CardText {
        font-size: 2vw
    }
    .OpisanieContainer {
        margin: 3vh 1vw;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .secondPageOpisanie {
        grid-row: 1;
        grid-column: 1;
        width: 95%;
        text-align: center;
        font-size: 3vw;
        margin: 1vh auto;
    }
    .firstPageOpisanie {
        grid-row: 2;
        grid-column: 1;
        width: 95%;
        text-align: center;
        font-size: 3vw;
        margin: 1vh auto;
    }
    .opisaniePng {
        grid-row: 3;
        grid-column: 1;
        width: 90%;
    }
    .buttonsContainer {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 3vh; 
        margin-right: 20vw;
        margin-left: 20vw;
        margin-top: 3vh;
    }
    .dirikQuestion {
        display: none;
    }
    .dirikName {
        color: #ffffff;
        font-size: 2.5vw;
        grid-column-start: 2;
        align-self: start; 
        grid-row-start: 1;
    }
    .dirik {
        width: 85%;
        height: 80%;
        grid-column-start: 2;
        align-self: end; 
        grid-row-start: 1;
    }
}