@import "./src/defaultStyles/colors.scss";

*{
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

body {
    background-color: $bgColor;
    color: #fff;
}
.siteImage {
    animation: skeletonImg 1s linear infinite alternate;
}

.card-enter-active {
    animation: showCard 0.6s forwards;
}
.card-exit-active {
    animation: showCard 0.6s reverse;
}

.attractive-enter-active {
    animation: showAttractive 0.6s forwards;
}
.attractive-exit-active {
    animation: showAttractive 0.6s reverse;
}
@keyframes showAttractive {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes showCard {
    0%{
        opacity: 0;
        transform: translateY(-20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes skeletonImg {
    0% {
        background-color: hsl(200, 5%, 45%);
    }
    100% {
        background-color: hsl(203, 10%, 74%);
    }
}