@import "./src/defaultStyles/modalContainer.scss";
@import "./src/defaultStyles/closeBtn.scss";
@import "./src/defaultStyles/NavContainer.scss";
@import "./src/defaultStyles/colors.scss";
@import "./src/defaultStyles/fontsizes.scss";

.contentContainer {
    @include contentContainer(1fr 1fr 1fr);
}

.Person {
    padding: 2vw 4vh;
    border: $groupBorder;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: $PcMediumText;
}

.listimage {
    width: 10vw;
    height: 10vw;
    border-radius: 15%;
    float: right;
}

@media screen and (max-width: 1000px) {
    .listimage {
        width: 15vw;
        height: 15vw;
    }

    .contentContainer {
        grid-template-columns: 1fr;
    }

    .Person {
        padding: 3vw;
        font-size: $MobileHeading;
    }
}