.Container {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    z-index: 100;
}

.Navbar{
    grid-column-start: 1;
    grid-column-end: 4;
}
.Container.active {
    display: block;
    background-color: #323641;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
}

.NavContainer {
    grid-gap: 3vw;
}

.contentContainer {
    color: white;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow: scroll;
}

.Person {
    padding: 2vw 4vh;
    background-color: #323641;
    text-align: center;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5vw;
    animation: showCard 0.5s forwards;
}

.listimage {
    width: 10vw;
    height: 10vw;
    border-radius: 15%;
    float: right;
}
.title {
    padding: 1vw;
    background-color: #212529;
    color: white;
    grid-column-start: 1;
    grid-column-end: 4;
    border: 2px solid black;
    font-weight: 600;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.closeBtn {
    align-self: center;
}

.search {
    padding: 0.5vw;
    border-radius: 15px;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    .Navbar{
        height: auto;
        grid-column-start: 1;
        grid-column-end: 1;
    }
    .listimage {
        width: 15vw;
        height: 15vw;
    }

    .contentContainer {
        color: white;
        border: 1px solid black;
        display: grid;
        grid-template-columns: 1fr;
        overflow: scroll;
    }

    .Person {
        padding: 3vw;
        font-size: 5vw;
        border: 1px solid black;

    }
    .title {
        padding: 2vw;
    }
    .search {
        padding: 1vw 0.1vw;
        border-radius: 2vw;
    }
}
@keyframes showCard {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}